#  UN Data Analysis Project

Analysis on UN Data comparing gdp per capita and internet usage.

### Import Library

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Formatting

In [4]:
%matplotlib inline

### Load Data

In [27]:
gdp_df = pd.read_csv('../data/gdp_percapita.csv', nrows=6730)

In [12]:
internet_df = pd.read_csv('../data/internet_use.csv', nrows=4496)

<bound method NDFrame.head of      Country or Area      Year     Value  Value Footnotes
0        Afghanistan      2014  6.390000              NaN
1        Afghanistan      2013  5.900000              NaN
2        Afghanistan      2012  5.454545              NaN
3        Afghanistan      2011  5.000000              NaN
4        Afghanistan      2010  4.000000              NaN
...              ...       ...       ...              ...
4491        Zimbabwe      1996  0.016790              NaN
4492        Zimbabwe      1995  0.007684              NaN
4493        Zimbabwe      1994  0.001739              NaN
4494        Zimbabwe      1990  0.000000              NaN
4495   footnoteSeqID  Footnote       NaN              NaN

[4496 rows x 4 columns]>

### Answering Questions

##### 7. Look at the shape of each dataframe - how many rows, how many columns.

In [14]:
gdp_df.shape

# 6731 rows, 4 columns

(6731, 4)

In [15]:
internet_df.shape

# 4496 rows, 4 columns

(4496, 4)

##### 8. Take a look at the data types for the columns in each table.

In [23]:
type(gdp_df)

pandas.core.frame.DataFrame

In [22]:
type(internet_df)

pandas.core.frame.DataFrame

##### 9. Take a look at the last 10 rows of each dataset in turn.

In [25]:
print(gdp_df.tail(10))

     Country or Area                                      Year        Value  \
6721        Zimbabwe                                      1997  3036.422224
6722        Zimbabwe                                      1996  2985.856605
6723        Zimbabwe                                      1995  2736.486436
6724        Zimbabwe                                      1994  2768.309953
6725        Zimbabwe                                      1993  2572.870395
6726        Zimbabwe                                      1992  2591.007534
6727        Zimbabwe                                      1991  2906.272849
6728        Zimbabwe                                      1990  2819.549467
6729   footnoteSeqID                                  Footnote          NaN
6730               2  Excludes South Sudan after July 9, 2011.          NaN

      Value Footnotes
6721              NaN
6722              NaN
6723              NaN
6724              NaN
6725              NaN
6726              NaN
6727              NaN
6728              NaN
6729              NaN
6730              NaN

In [26]:
print(internet_df.tail(10))

     Country or Area      Year     Value  Value Footnotes
4486        Zimbabwe      2001  0.799846              NaN
4487        Zimbabwe      2000  0.401434              NaN
4488        Zimbabwe      1999  0.161676              NaN
4489        Zimbabwe      1998  0.081648              NaN
4490        Zimbabwe      1997  0.033080              NaN
4491        Zimbabwe      1996  0.016790              NaN
4492        Zimbabwe      1995  0.007684              NaN
4493        Zimbabwe      1994  0.001739              NaN
4494        Zimbabwe      1990  0.000000              NaN
4495   footnoteSeqID  Footnote       NaN              NaN

##### 10. Drop the 'value footnotes' data (column) from both datasets. Check that this worked as expected.

In [30]:
print(gdp_df.tail)

<bound method NDFrame.tail of      Country or Area      Year        Value  Value Footnotes
0        Afghanistan      2018  1734.723214              NaN
1        Afghanistan      2017  1758.465636              NaN
2        Afghanistan      2016  1757.023490              NaN
3        Afghanistan      2015  1766.593077              NaN
4        Afghanistan      2014  1795.735834              NaN
...              ...       ...          ...              ...
6725        Zimbabwe      1993  2572.870395              NaN
6726        Zimbabwe      1992  2591.007534              NaN
6727        Zimbabwe      1991  2906.272849              NaN
6728        Zimbabwe      1990  2819.549467              NaN
6729   footnoteSeqID  Footnote          NaN              NaN

[6730 rows x 4 columns]>

In [31]:
print(internet_df.tail)

<bound method NDFrame.tail of      Country or Area      Year     Value  Value Footnotes
0        Afghanistan      2014  6.390000              NaN
1        Afghanistan      2013  5.900000              NaN
2        Afghanistan      2012  5.454545              NaN
3        Afghanistan      2011  5.000000              NaN
4        Afghanistan      2010  4.000000              NaN
...              ...       ...       ...              ...
4491        Zimbabwe      1996  0.016790              NaN
4492        Zimbabwe      1995  0.007684              NaN
4493        Zimbabwe      1994  0.001739              NaN
4494        Zimbabwe      1990  0.000000              NaN
4495   footnoteSeqID  Footnote       NaN              NaN

[4496 rows x 4 columns]>